In [1]:
import pandas as pd

In [2]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
df=pd.read_csv('adult.data.csv')
#race_df=pd.Series()
#df.head()
race_count=pd.Series(df['race'].value_counts())
race_count.head()
#df.info()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [3]:
# What is the average age of men?

prueba=df[df['sex'] == 'Male']
prueba['age'].mean()

39.43354749885268

In [4]:
 # What is the percentage of people who have a Bachelor's degree?
bachelors=df['education'].value_counts()
bachelors=bachelors['Bachelors']
print("there are",bachelors,"persons with bachelors degree")
pepelewbachelors= round(bachelors/df['education'].value_counts().sum() *100,2)
print("there are",bachelors,"persons with bachelors degree, that represent a", pepelewbachelors,"% of the")

there are 5355 persons with bachelors degree
there are 5355 persons with bachelors degree, that represent a 16.45 % of the

In [5]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
data=more50kp.loc[more50kp['education'].isin({'Bachelors', 'Masters', 'Doctorate'})]
qst31=round(data['education'].value_counts().sum()/df.loc[df['education'].isin({'Bachelors', 'Masters', 'Doctorate'})].value_counts().sum() *100,1)
print(qst31,"% Of the people that have advanced education make more than 50 k" )

NameError: name 'more50kp' is not defined

In [ ]:

<img src="./assets/ollama.png" width="500" alt="Select Ollama models" />

17.3713601914639

In [ ]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
print(df['hours-per-week'].min(),"is the minimum hours a person work per week")

1 is the minimum hours a person work per week

In [ ]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
more50kp=df[df['salary']=='>50K']
#round(more50kp['hours-per-week'].value_counts().min()/more50kp['hours-per-week'].value_counts().sum()*100,3)
len(more50kp[more50kp['hours-per-week']== 1])
#df[df['hours-per-week']==1]
data4=len(more50kp[more50kp['hours-per-week']== 1])/len(df[df['hours-per-week']==1])*100
print(data4,"% Of people that work the minimum hours per week win more tan 50k")

10.0 % Of people that work the minimum hours per week win more tan 50k

In [ ]:
# What country has the highest percentage of people that earn >50K?

countrys=more50kp['native-country'].value_counts().reset_index().rename(columns={'index':'native-country','native-country':'count'})
p=countrys.loc[0]
p['native-country']
countryper= round(more50kp['native-country'].value_counts().max()/more50kp['native-country'].value_counts().sum()*100,2)
print(p['native-country'],"have the most percentage of people working that earn more than 50k, with a precentage of ",countryper,"%")

United-States have the most percentage of people working that earn more than 50k, with a precentage of  91.46 %

In [ ]:
 # Identify the most popular occupation for those who earn >50K in India.
india=more50kp[more50kp['native-country']=='India']
india=india['occupation'].value_counts().reset_index().rename(columns={'index':'occupation','occupation':'count'})
occupation=india.loc[0]
occupation['occupation']
print(occupation['occupation'],"is the most common occupation of the people who make more than 50k in india")

Prof-specialty is the most common occupation of the people who make more than 50k in india