In [2]:
import pandas as pd
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
df=pd.read_csv('adult.data.csv')
#race_df=pd.Series()
#df.head()
race_count=pd.Series(df['race'].value_counts())
#df.groupby('race').count()
race_count
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
# What is the average age of men?
#df.head()
#df['sex'].value_counts()

#hombres=df.loc[df['sex']=='Male',['age']]
#hombres.mean()
hombres=df.loc[df['sex']=='Male',['age']].mean()
a=hombres.loc['age']
a
hombres

age    39.433547
dtype: float64

In [4]:
 # What is the percentage of people who have a Bachelor's degree?

Bachelors=df.loc[df['education']=='Bachelors',['education']]
#len(df['education'])
u=len(Bachelors)/len(df) *100
u

16.44605509658794

In [13]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
#FORMA EN LA QUE SE USA OR : filtered_df = df.loc[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'), ['education', 'salary']]
filtered_df = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate']), ['education', 'salary']]
more50K=filtered_df.loc[df['salary'] == '>50K',['education','salary']]
#filtered_df.value_counts()
len(more50K)/len(filtered_df) *100

46.535843011613935

In [6]:
 # What percentage of people without advanced education make more than 50K?
#Forma en la que se usa or : filtered_df = df.loc[(df['education'] != 'Bachelors') | (df['education'] != 'Masters') | (df['education'] != 'Doctorate'), ['education', 'salary']]
withoutAE=df.loc[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate']), ['education', 'salary']] #el simbolo '~'es igual a !=
more50KAE=withoutAE.loc[df['salary'] == '>50K',['education','salary']]
len(more50KAE)/len(withoutAE) *100

17.3713601914639

In [7]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
#print(df['hours-per-week'].describe())
df['hours-per-week'].min()

1

In [15]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
#peoplemin=df.loc[df['hours-per-week']== 1,['age','salary']]
#min50K=peoplemin.loc[df['salary']=='>50K',['age','salary']]
#len(min50K)/len(peoplemin) *100
#OPTIMIZACION CHATGPT
# Filtrar las personas que trabajan el número mínimo de horas por semana y ganan más de 50K
min_workers_rich = df[(df['hours-per-week'] == 1) & (df['salary'] == '>50K')]

# Calcular el número de personas que trabajan el número mínimo de horas por semana
num_min_workers = len(df[df['hours-per-week'] == 1])

# Calcular el porcentaje de personas que ganan más de 50K entre los que trabajan el mínimo de horas
rich_percentage = (len(min_workers_rich) / num_min_workers) * 100
rich_percentage

10.0

In [17]:
min_workers_rich = df[(df['hours-per-week'] == 1) & (df['salary'] == '>50K')]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
20072,65,?,76043,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,>50K

In [9]:
# What country has the highest percentage of people that earn >50K?
t=df.loc[df['salary']=='>50K',['native-country']]
#countries=pd.Series(t.value_counts())
h=pd.Series(t.value_counts())
highestn=h.max()
print(highestn)
h=h.reset_index()
highest=h.loc[0]
highestcountry=highest['native-country']
highestn/len(t) *100

7171

91.45517153424308

In [10]:
 # Identify the most popular occupation for those who earn >50K in India.
g=df.loc[(df['salary'] == '>50K') & (df['native-country'] == 'India') , ['occupation']]
k=g.value_counts().tolist()
p=pd.Series(g.value_counts())
p=p.reset_index()
p.index=g.value_counts().tolist()
o=g.value_counts().max()
p.loc[o,'occupation']
#f=f.reset_index()
#print(g)
#print(f)

'Prof-specialty'

In [11]:
df[(df['native-country'] == 'India') & (df['salary'] == '>50K')].groupby('occupation')['occupation'].count().max()

25

In [12]:
f.max()

NameError: name 'f' is not defined