In [2]:
import pandas as pd
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
df=pd.read_csv('adult.data.csv')
#race_df=pd.Series()
#df.head()
race_count=pd.Series(df['race'].value_counts())
race_count.head()
#df.info()

In [35]:
# What is the average age of men?

prueba=df[df['sex'] == 'Male']
prueba['age'].mean()

39.43354749885268

In [60]:
 # What is the percentage of people who have a Bachelor's degree?
bachelors=df['education'].value_counts()
bachelors=bachelors['Bachelors']
print("there are",bachelors,"persons with bachelors degree")
pepelewbachelors= round(bachelors/df['education'].value_counts().sum() *100,2)
print(("there are",bachelors,"persons with bachelors degree, that represent a", pepelewbachelors,"% of the)

there are 5355 persons with bachelors degree, that represent a 16.45 % of the total

In [114]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
data=more50kp.loc[more50kp['education'].isin({'Bachelors', 'Masters', 'Doctorate'})]
qst31=round(data['education'].value_counts().sum()/df.loc[df['education'].isin({'Bachelors', 'Masters', 'Doctorate'})].value_counts().sum() *100,1)
print(qst31,"% Of the people that have advanced education make more than 50 k" )

46.5 % Of the people that have advances education make more than 50 k

In [5]:

<img src="./assets/ollama.png" width="500" alt="Select Ollama models" />

17.3713601914639

In [134]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
print(df['hours-per-week'].min(),"is the minimum hours a person work per week")

1 is the minimum hours a person work per week

In [170]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
more50kp=df[df['salary']=='>50K']
#round(more50kp['hours-per-week'].value_counts().min()/more50kp['hours-per-week'].value_counts().sum()*100,3)
len(more50kp[more50kp['hours-per-week']== 1])
#df[df['hours-per-week']==1]
data4=len(more50kp[more50kp['hours-per-week']== 1])/len(df[df['hours-per-week']==1])*100
print(data4,"% Of people that work the minimum hours per week win more tan 50k")

10.0 % Of people that work the minimum hours per week win more tan 50k

In [8]:
# What country has the highest percentage of people that earn >50K?

7171

91.45517153424308

In [9]:
 # Identify the most popular occupation for those who earn >50K in India.

'Prof-specialty'

25

NameError: name 'f' is not defined